.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border: 2px solid rgb(75, 73, 73);
    padding:10px;
  }

.screen{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    border-color: rgb(0, 0, 0);
    border-width:2px;
    border: 2px solid rgb(75, 73, 73);
    ;
    text-align:center;
    font-size: 59px;
    
    

}
.spacer{
    margin: 10px;
}